<div class="register-form mt-8 m-2">
  <h2 class="text-3xl font-bold text-center">{{ formType }} Employees</h2>
  <!-- Form start -->
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="flex">
      <!-- Left Side -->
      <div class="w-1/2 p-4">
        <div class="flex flex-col space-y-2">
          <!-- Employee Id -->
          <div class="p-4">
            <div class="flex flex-col space-y-1">
              <label>Employee Id</label>
              <input
                type="number"
                formControlName="id"
                placeholder="Enter Id"
                class="form-control"
                [readonly]="isReadonly"
                [ngClass]="{ 'is-invalid': submitted && f['id'].errors }"
              />
              <!-- Error messages for Employee Id -->
              @if (submitted && f['id'].errors) {
              <div class="invalid-feedback">
                @if (f['id'].errors['required']) {
                <div>Id is required</div>
                }
              </div>
              }
            </div>
          </div>
          <!-- Contact Number -->
          <div class="p-4">
            <div class="flex flex-col space-y-1">
              <label>Contact number</label>
              <input
                type="text"
                formControlName="contactNumber"
                placeholder="Enter contact number"
                class="form-control"
                [ngClass]="{
                  'is-invalid': submitted && f['contactNumber'].errors
                }"
              />
              <!-- Error messages for Contact Number -->
              @if (submitted && f['contactNumber'].errors) {
              <div class="invalid-feedback">
                @if (f['contactNumber'].errors['required']) {
                <div>contact is required</div>
                } @if (f['contactNumber'].errors['pattern']) {
                <div>contact size must be 10</div>
                }
              </div>
              }
            </div>
          </div>
          <!-- Skills -->
          <div class="p-4">
            <div class="flex flex-col space-y-1">
              <div class="flex flex-row justify-between">
                <label>Skills</label>
                <button
                  type="button"
                  class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:ring focus:ring-green-300"
                  (click)="addSkills()"
                >
                  Add Skill+
                </button>
              </div>
              <div class="">
                <div formArrayName="skills">
                  <div
                    class="form-group mt-2"
                    *ngFor="let f of skillsdata().controls; let i = index"
                    [formGroupName]="i"
                  >
                    <div
                      class="flex flex-row flex-wrap justify-between space-x-1"
                    >
                      <!-- Skill Name -->
                      <div>
                        <input
                          type="text"
                          formControlName="name"
                          placeholder="Name"
                          class="form-control"
                          [ngClass]="{
                            'is-invalid':
                              submitted && skillscon(i).controls['name'].errors
                          }"
                        />
                        <!-- Error message for Skill Name -->
                        @if (submitted && skillscon(i).controls['name'].errors )
                        {
                        <div class="invalid-feedback">name is required</div>
                        }
                      </div>
                      <!-- Experience -->
                      <div>
                        <select
                          formControlName="experience"
                          class="form-select"
                          [ngClass]="{
                            'is-invalid':
                              submitted &&
                              skillscon(i).controls['experience'].errors
                          }"
                        >
                          <option value="">Select Experience</option>
                          <option value="1years">1Years</option>
                          <option value="2years">2Years</option>
                          <option value="3years">3Years</option>
                          <option value="4years">4Years</option>
                        </select>
                        @if (submitted &&
                        skillscon(i).controls['experience'].errors) {
                        <div class="invalid-feedback">
                          <div>Experience is required</div>
                        </div>
                        }
                      </div>
                      <!-- Remove Skill Button -->
                      @if(skillsdata().controls.length>1){
                      <div class="bg-red-500 mt-2 rounded-md h-8 w-8">
                        <img
                          src="./../../assets/remove.png"
                          alt="icon"
                          class="tw-icon object-cover object-center m-1"
                          (click)="removeSkills(i)"
                        />
                      </div>
                      }
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Right Side -->
      <div class="w-1/2 p-4">
        <!-- Name -->
        <div class="p-4">
          <div class="flex flex-col space-y-1">
            <label>Name</label>
            <input
              type="text"
              formControlName="name"
              placeholder="Enter name"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
            />
            <!-- Error message for Name -->
            @if (submitted && f['name'].errors) {
            <div class="invalid-feedback">
              @if (f['name'].errors['required']) {
              <div>Name is required</div>
              }
            </div>
            }
          </div>
        </div>
        <!-- Email -->
        <div class="p-4">
          <div class="flex flex-col space-y-2">
            <label>Email</label>
            <input
              type="text"
              formControlName="email"
              placeholder="Enter email"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
            />
            <!-- Error message for email -->
            @if (submitted && f['email'].errors) {
            <div class="invalid-feedback">
              @if (f['email'].errors['required']) {

              <div>Email is required</div>
              } @if (f['email'].errors['email']) {
              <div>Email is invalid</div>
              }
            </div>
            }
          </div>
        </div>
        <!-- Gender -->
        <div class="p-4">
          <div class="flex flex-col space-y-1">
            <label>Gender</label>
            <div>
              <label>
                <input
                  type="radio"
                  formControlName="gender"
                  value="Male"
                  [ngClass]="{ 'is-invalid': submitted && f['gender'].errors }"
                />
                Male
              </label>
              <label>
                <input
                  type="radio"
                  formControlName="gender"
                  value="Female"
                  [ngClass]="{ 'is-invalid': submitted && f['gender'].errors }"
                />
                Female
              </label>
            </div>
            <!-- Error message for gender -->
            @if(submitted && f['gender'].errors){
            <div class="invalid-feedback">
              @if (f['gender'].errors['required']) {
              <div>Gender is required</div>
              }
            </div>
            }
          </div>
        </div>
      </div>
    </div>
    <!-- Submit button -->
    <div class="form-group">
      <button
        type="submit"
        class="bg-blue-500 ml-8 text-white font-bold py-2 px-4 rounded hover:bg-blue-600"
      >
        Submit
      </button>
    </div>
  </form>
  <!-- Error message for existing user -->
  @if (userExists) {
  <div class="bg-red-500 mt-4 text-white p-4 rounded mb-4">
    User already exists with Id.
  </div>
  }
</div>
