body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/* Header Button */
.buttonHeader {
  display: flex;
  justify-content: flex-end;
}
.buttons {
  display: inline-block;
}
/* Main section */
main {
  padding: 20px;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

thead {
  background-color: #f2f2f2;
}

/* Button style */
#addEmployeeButton {
  padding: 8px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#addEmployeeButton:hover {
  background-color: #45a049;
}

#addEmployeeButton {
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Link style */
a {
  text-decoration: none;
  color: white;
}

/* toast style */
#toast-success {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/* Model style */
#model-interactive {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Ensure it appears above all other elements */
}