<main>
  <!-- Header with button -->
  <div class="buttonHeader">
    <div class="buttons">
      <button id="addEmployeeButton">
        <a routerLink="/add" routerLinkActive="active"> Add Employee </a>
      </button>
    </div>
  </div>

  <!-- Table to display employee data -->
  <table id="employeeTable">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Gender</th>
        <th>Skills</th>
        <th>Action</th>
      </tr>
    </thead>
    <!-- For loop on employee to fetch all employees -->
    <tbody id="employeeList">
      @for(employee of employees; track employee ){
      <tr>
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.contactNumber }}</td>
        <td>{{ employee.gender }}</td>
        <!-- For loop on employee's skill -->
        <td>
          @if(employee.skills.length == 1){
          <p>
            {{ employee.skills[0].name }} (Exp
            {{ employee.skills[0].experience }})
          </p>
          } @if(employee.skills.length > 1){
          <ul>
            @for(skill of employee.skills;track skill){
            <li class="list-decimal ml-4">
              {{ skill.name }} (Exp. {{ skill.experience }})
            </li>
            }
          </ul>
          }
        </td>
        <!-- Edit and delete button -->
        <td>
          <div class="flex flex-row space-x-1">
            <img
              routerLink="/edit/{{ employee.id }}"
              routerLinkActive="active"
              src="./../../assets/pen-solid.svg"
              alt="Icon description"
              class="w-6 h-6"
            />
            <img
              (click)="onDeleteConfirm(employee.name, employee.id)"
              src="./../../assets/trash-solid-black.svg"
              alt="Icon description"
              class="w-6 h-6"
            />
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</main>
<!-- Toast message -->
@if(messageShow){
<div
  id="toast-success"
  class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800"
  role="alert"
>
  <div
    class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200"
  >
    <svg
      class="w-5 h-5"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 20 20"
    >
      <path
        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
      />
    </svg>
    <span class="sr-only">Check icon</span>
  </div>
  <div class="ms-3 text-sm font-normal">Item deleted successfully.</div>
  <button
    type="button"
    class="ms-auto w-8 -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
    data-dismiss-target="#toast-success"
    aria-label="Close"
    (click)="changeToastVisibility()"
  >
    <span class="sr-only">Close</span>
    <svg
      class="w-3 h-3"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 14 14"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
      />
    </svg>
  </button>
</div>
}

<!-- Model -->
@if(modelShow){
<div
  id="model-interactive"
  class="w-full max-w-xs p-4 text-gray-500 bg-white rounded-lg shadow dark:bg-gray-800 dark:text-gray-400"
  role="alert"
>
  <div class="flex">
    <div class="ms-3 text-sm font-normal">
      <span class="mb-1 text-sm font-semibold text-gray-900 dark:text-white"
        >Delete employee detail</span
      >
      <div class="mb-2 text-sm font-normal">
        Do you really want to delete detail of {{ employeeName }}
      </div>
      <div class="grid grid-cols-2 gap-2">
        <div>
          <button
            (click)="deleteEmployee()"
            class="inline-flex justify-center w-full px-2 py-1.5 text-xs font-medium text-center text-white bg-red-600 rounded-lg hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-800"
          >
            Delete
          </button>
        </div>
        <div>
          <button
            (click)="cancelDelete()"
            class="inline-flex justify-center w-full px-2 py-1.5 text-xs font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-600 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700"
          >
            Cancle
          </button>
        </div>
      </div>
    </div>
    <button
      type="button"
      class="ms-auto -mx-1.5 -my-1.5 bg-white items-center justify-center flex-shrink-0 text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
      data-dismiss-target="#model-interactive"
      aria-label="Close"
      (click)="cancelDelete()"
    >
      <span class="sr-only">Close</span>
      <svg
        class="w-3 h-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
        />
      </svg>
    </button>
  </div>
</div>
}
