<main>
  <!-- Header with button -->
  <div class="buttonHeader">
    <div class="buttons">
      <button id="addEmployeeButton">
        <a routerLink="/add" routerLinkActive="active">
          Add Employee
        </a>
      </button>
    </div>
  </div>

  <!-- Table to display employee data -->
  <table id="employeeTable">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Gender</th>
        <th>Skills</th>
        <th>Action</th>
      </tr>
    </thead>
    <!-- For loop on employee to fetch all employees -->
    <tbody id="employeeList">
      @for(employee of employees; track employee ){
      <tr>
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.contactNumber }}</td>
        <td>{{ employee.gender }}</td>
        <!-- For loop on employee's skill -->
        <td>
          @for(skill of employee.skills;track skill){
          <p>
            {{ skill.name }}
            @if(!skill.name){
            <span>No skills</span>
            }
          </p>
          }
        </td>
        <!-- Edit and delete button -->
        <td>
          <div class="flex flex-row space-x-2">
            <img
              routerLink="/edit/{{ employee.id }}"
              routerLinkActive="active"
              src="./../../assets/pen-solid.svg"
              alt="Icon description"
              class="w-6 h-6"
            />
            <img
              (click)="deleteEmployee(employee.id)"
              src="./../../assets/trash-solid-black.svg"
              alt="Icon description"
              class="w-6 h-6"
            />
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</main>
